<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="5b50f6c3-a1c1-4f24-9146-0721541b1554" Publisher="CN=risew_000" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MyMetroApp</DisplayName>
    <PublisherDisplayName>Rise</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyMetroApp.App">
      <VisualElements DisplayName="MyMetroApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MyMetroApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
</Package>